/* steen papier schaar */
body{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 7, 23);
}
.alles{
    margin-top: 20vh;
}
.buttons{
    padding: 15px 20px;
    font-size: 1rem;
    border-radius: 10px;
    transition: 0.5s;
}
.buttons:hover{
  background-color: BLUE;
}
.container {
  display: flex;
  justify-content: space-between;
  font-size: 0.5em;
  margin-top: -50vh;
  color: white;
}

#inputP1{
    color: GREEN;
}
#inputP2{
    color: RED;
}
#outcome{
    color: BLUE;
}
  
.player1, .player2 {
  flex: 1; 
}
  
.player1 {
  text-align: left;
  margin-left: 5vw;
  background-color: rgba(0, 128, 0, 0.912);
  text-align: center;
  padding: 50px;
  border: 2px solid white;
  border-radius: 5px;
}
  
.player2 {
  text-align: right;
  background-color: rgba(255, 0, 0, 0.912);
  margin-right: 5vw;
  margin-left: 60vw;
  text-align: center;
  padding: 50px;
  border: 2px solid white;
  border-radius: 5px;
}

#steenP1,
#papierP1,
#schaarP1
{
  background-color: green;
  color: BLACK;
  border: 2px solid black;
}

#steenP2,
#papierP2,
#schaarP2
{
  background-color: rgba(255, 0, 0, 0.912);
  color: WHITE;
  border: 2px solid black;
}

#scoreP1{
    color: GREEN;
}


#scoreP2
{
  color: RED;
}

#opnieuw {
  margin-top: -15vh;
  background-color: BLUE;
    color: WHITE;
  border: 0px;
}